.CodeMirror {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.CodeMirror textarea {
  background-color: #26292c !important;
  color: #0f0 !important;
  font-family: "Consolas", monospace;
  font-size: 0.7em;
}
.CodeMirror {
  font-size: 0.9rem;
  height: calc(100% - var(--rp-controls-height) - 3rem) !important;
  position: absolute !important;
  top: 0 !important;
  width: var(--split);
}

#codebooth {
  height: 100%;
  width: 100%;
  --split: 50%;
}

#codebooth button {
  border: 0 none transparent;
  border-radius: 0;
  color: #FFF;
  cursor: pointer;
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
  height: 3rem;
  position: absolute;
  bottom: var(--rp-controls-height);
  width: calc(var(--split) / 5);
  z-index: 1000;
}

.active-replay .code-playground,
.active-playground .code-replay {
  opacity: 0;
  pointer-events: none;
}

.button-replay, .button-playground {
  background-color: #444;
  color: #666;
}

.button-replay:active, .button-playground:active {
  background-color: darken($wine, 20%);
  color: #CCC;
}

.active-replay .button-replay,
.active-playground .button-playground {
  background-color: lighten($wine, 20%);
}

.button-playground {
  left: calc(var(--split) / 5);
}

.button-copy {
  background-color: #1a69b5;
  left: calc(var(--split) * 2 / 5);
}
  
.button-copy:active {
  background-color: #16599a;
}

.button-run {
  background-color: #18a85e;
  left: calc(var(--split) * 3 / 5);
}
  
.button-run:active {
  background-color: #148f50;
}

.button-clear {
  background-color: #d50000;
  left: calc(var(--split) * 4 / 5);
}
  
.button-clear:active {
  background-color: darkred;
}

.code-output {
  background-color: #1e1e1e;
  color: #0f0;
  font-size: 1rem;
  overflow-y: auto;
  padding: 0.25rem;
  user-select: text;
  -webkit-user-select: text;
  position: absolute;
  width: calc(100% - var(--split));
  right: 0;
  height: calc(var(--rp-height) - var(--rp-controls-height));
  top: 0;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
.code-output .error {
  color: #f00;
}

.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-ew {
  cursor: ew-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
