h1
  font-family "Alegreya", "Georgia", serif
  font-size 5rem
  margin .5em auto 0
  text-align center
  
  > .ractive
    color $wine
    
  > .player
    color $blue
    
    > img
      margin 0 .1ex 0 .1ex
  
  > span > img
    display inline-block
    height 1em

#sec-intro
  > h2
    color #333
    font-family "Alegreya", "Georgia", serif
    font-size 3rem
    margin .5em auto 1em
    text-align center

.box
  background #FFF
  border-radius .5em
  margin .5em auto
  padding .5em 1em
  width 80%
  
  > p
    margin .5em 0

#fiddle
  input
    margin-left .5em
    vertical-align middle

#diamond-age
  > img
    height 100%
