h1
  -webkit-background-clip text
  background-clip text
  color #1a69b5
  background-image linear-gradient(90deg,#1a69b5 50%,#af1866 70%)
  -webkit-text-fill-color transparent
  
  font-family "Alegreya", "Georgia", serif
  font-size 5rem
  margin .5em auto 0
  text-align center
    
  > img
    height 2em
    display inline-block
    margin 0 auto .2em
    vertical-align middle

#sec-intro
  > h2
    color #333
    font-family "Alegreya", "Georgia", serif
    font-size 3rem
    margin 0 auto
    text-align center

.box
  background #FFF
  border-radius .5em
  margin .5em auto
  padding .5em 1em
  width 80%
  
  > p
    margin .5em 0

#fiddle
  input
    margin-left .5em
    vertical-align middle

#diamond-age
  > img
    height 100%
