@import "rp-codebooth/style.css"
@import "rp-paint/style.css"
@import "rp-prompt/style.css"

$blue = #1A69B5
$wine = #AF1866

@import "lib/help-control"
@import "lib/loading-screen"

.rp-thumbnail-time
  color #222

@import "intro"
@import "playback"
@import "utils"

h2
  color $blue
  font-family "Alegreya"
  font-size 4rem
  margin-top .5em
  text-align center

.rp-canvas
  background #EEE
  
body
  font-family sans-serif
  
.draggable
  cursor grab
  cursor -webkit-grab

body.dragging .rp-canvas, body.dragging .draggable, .dragging
  cursor grabbing
  cursor -webkit-grabbing
  
section
  font-size 1.5rem
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  
.rp-prompt
  color #FFF
  font-size 1rem
  
:link, :visited
  color $blue

#recording-https-link
  display block

.rp-cursor
  width 2rem

#sec-cursor > p
  font-size 2em
  line-height 1.5
  margin 1em
  