@import "rp-codebooth/style.css"
@import "rp-paint/style.css"
// @import "rp-prompt/style.css"

$blue = #1A69B5
$wine = #AF1866

@import "lib/help-control"
@import "lib/loading-screen"

.lv-thumbnail-time
  color #222

@import "intro"
@import "playback"
@import "utils"

h2
  color $blue
  font-family "Alegreya"
  font-size 4rem
  margin-top .5em
  text-align center

.lv-canvas
  background #EEE
  
body
  font-family sans-serif
  
.draggable
  cursor grab
  cursor -webkit-grab

body.dragging .lv-canvas, body.dragging .draggable, .dragging
  cursor grabbing
  cursor -webkit-grabbing
  
section
  font-size 1.5rem
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  
.rp-prompt
  color #FFF
  font-size 1rem
  
:link, :visited
  color $blue

#recording-https-link
  display block

.rp-cursor
  width 2rem

#sec-cursor > p
  font-size 2em
  line-height 1.5
  margin 1em


.lv-controls-buttons, .rp-controls-buttons,
.lv-controls-right, .rp-controls-right,
.lv-controls-volume, .rp-controls-volume
  > button
    background none
    border none
    outline none
    cursor pointer
    opacity .9
    transition opacity .1s cubic-bezier(0.4,0,1,1)
    height 100%
    padding 0
    width 38px
    
    &:hover
      opacity 1
      transition opacity .1s cubic-bezier(0,0,0.2,1)
      
    > svg
      height 100%

.lv-controls-buttons > .lv-controls-volume > button
  > svg
    padding 3px

